<section id="about">
    <div class="subtitle">Get To Know More</div>
    <div class="title">About Me</div>
    <div class="container">
        <div class="image">
            <img src="assets/images/profile.jpeg" alt="Profile Picture">
        </div>
        <div class="details">
            <div class="cards">
                <div class="card">
                    <div class="icon">
                        <i class="fas fa-briefcase"></i> 
                    </div>
                    <h3>Experience</h3>
                    <p class="small-title">Full-Stack Developer</p>
                    <p class="subtitle">Current position and & 2 years experience</p>
                    <p class="small-title">Embedded Software Engineer</p>
                    <p class="subtitle">1 year of embbeded unit testing</p>
                </div>
                <div class="card">
                    <div class="icon">
                        <i class="fas fa-graduation-cap"></i> 
                    </div>
                    <h3>Education</h3>
                    <p class="small-title">Master's Degree in Information Technology in Economics</p>
                    <p class="small-title">Bachelor's Degree in Automation and Computer Science</p>
                    <p class="subtitle">Technical University of Cluj-Napoca</p>
                    <p class="small-title">Erasmus Mobility - University of Córdoba</p>
                    <p class="subtitle">Escuela Politécnica Superior de Córdoba, Spain</p>
                </div>
            </div>
            <div class="description">
                <p>Passionate and driven Full-Stack Software Engineer with focus on .NET and Angular. Experienced in leadership, teamwork, and community involvement through scouting. Strong dedication to personal growth, continuous learning, and a commitment to making a positive impact.</p>
            </div>
        </div>
    </div>
</section>
