.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    width: 100%;
    top: 0;

    .logo h1 {
        font-size: 24px;
    }

    ul {
        display: flex;
        list-style: none;
        align-items: center;

        li {
            margin: 0 15px;

            a {
                text-decoration: none;
                font-weight: bold;
                color: var(--text-color);
                cursor: pointer;
            }

            a:hover {
                color: gray;
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column; /* Stack elements vertically */
        align-items: center;
        padding: 30px 2px;
        font-size: 10px;

        ul {
            margin-top: 20px; /* Add a gap between logo and navigation */
        }
    }
}
