.main-content {
    .headline {
        display: flex;
        justify-content: center;
        gap: 150px;
        padding: 100px 20px;
    
        .role,
        .buttons,
        .links {
            margin-bottom: 10px;
        }
    
        .image {
            img {
                width: 300px;
                height: 300px;
                border-radius: 50%;
            }
        }
    
        .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
    
            .line {
                font-size: 16px;
                color: gray;
            }
    
            .name {
                font-size: xxx-large;
                font-weight: bold;
            }
    
            .role {
                font-size: large;
                color: gray;
                font-weight: bold;
            }
    
            .buttons {
                display: flex;
                justify-content: space-around;
                gap: 10px;
                font-size: 14px;   
    
                .border-button {
                    background: white;
                    border-radius: 20px;
                    padding: 10px;
                    color: black;
                    border: 1px solid black;
                    cursor: pointer;
                    text-decoration: none;
                    font-family: inherit;
                }
    
                .full-button {
                    background: rgb(61, 61, 61);
                    border-radius: 20px;
                    padding: 10px;
                    border: 1px solid  rgb(61, 61, 61);
                    color: white;
                    text-decoration: none;
                    font-family: inherit;
                }
            }
    
            .links {
                display: flex;
                gap: 10px;
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
  
  section {
    padding: 80px 20px;
  }
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .headline {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 50px 10px;

        .image img {
            width: 200px;
            height: 200px;
        }

        .details .name {
            font-size: 36px; /* Adjusted size for mobile */
        }

        .details .role {
            font-size: 20px; /* Adjusted size for mobile */
        }

        .buttons {
            flex-direction: column;
            gap: 10px;
            width: 100%;
            

            .border-button,
            .full-button {
                width: 100%;
                padding: 12px;
                text-decoration: none;
                cursor: pointer;
            }

            a {
                text-decoration: none;
                font-size: 14px;
            }
        }

        .links {
            justify-content: center;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}