<app-header></app-header>
<div class="main-content">
    <div class="headline">
        <div class="details">
            <div class="line">Hello I'm</div>
            <div class="name">Sorina</div>
            <div class="role">Full-Stack Developer</div>
            <div class="buttons">
                <button class="btn border-button" (click)="downloadCV()">Download CV</button>
                <a class="btn full-button" href="#contact">Contact Info</a>
            </div>
            <div class="links">
                <a href="https://www.linkedin.com/in/sorina-ioja/"><img src="assets/images/linkedin.png"></a>
                <a href="https://github.com/sorinaioja"><img src="assets/images/github.png"></a>         
            </div>
        </div>
        <div class="image">
            <img src="assets/images/profile.jpeg">
        </div>
    </div>
    <app-about></app-about>
    <app-experience></app-experience>
    <app-contact></app-contact>
</div>
